body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html,body {
	margin:0;
	padding:0;
	background-color: #000;
	color: #fff;
	height: 100%;

}
.box {
	width: 630px;
	background: rgba(0,0,0,0.5);
	padding: 15px;
	text-align: center;
	margin: 0px;
	margin-right: 0;
	margin-top: 0;
	color: white;
	font-family: 'Neuton',serif;
}

.box2 {
	width: 650px;
	background: rgba(0,0,0,0);
	padding: 0px;
	text-align: center;
	margin: 0px;
	margin-right: 0;
	margin-top: 0;
}

.box-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 0px solid #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	z-index: 2
}

#content {
	display: table; 
	height: 100%; 
	position: absolute; 
	z-index: 4; 	
	margin-left: 0%;
}

#copy {
    display: table-cell;
    vertical-align: middle;
	font-family: 'Neuton', serif;
	font-weight: 200;
	width: 100%;
}

h1 { 
	display:none
}

h2 {	
	font-size: 2em; 
	font-weight: 100;
	margin-top:0
}


#social { 
	margin-top: 20px;
}

.strike {
	text-decoration: line-through
}

.small { 
	font-size:1.5em
}

.twitter img { 
	width:40px; 
	margin-right: 10px; 
	cursor: pointer;
}

.instagram img { 
	width:40px;  
	cursor: pointer; 
}

.facebook img { 
	width:50px; 
	margin-right: 10px; 
	cursor: pointer;
}


@media only screen and (max-width:1023px){
	
	#content {
	display: table; 
	height: 100%; 
	position: absolute; 
	z-index: 4; 	
	margin-left: 0%;
		zoom:0.6;
}
	
	.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 0px solid #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	z-index: 2
}

	
}